.button {
    background: $blue;
    border: none;
    color: white;
    display: inline-block;  //by default the link are display inline which will not make our margin and padding take effect
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;     
}

.button--link {
    background: none;    
    &:hover{
        color:white;
    }
}

.button--secondary {
    background: #888;
}

.button__space {
    margin-top: $m-size;
    &:active {       //&:hover & means take all properties for the parent select  and change the background
        box-shadow: 2px 2px 2px #888888;
        // box-shadow: inset 0 0 20px 0 orange;
        border: 2px solid #888;
    }
}

.button__custheader {
    text-transform: capitalize;
    font-size: 2.2rem;    
    font-family: 'Oswald', sans-serif;
    background: transparent;
    border: 0.05rem solid $white;
    color: $white;
    border-radius: 0.5rem;
    padding: 0.7rem 0.7rem;
    margin: 0.2rem 0.5rem 0.2rem 0;
    transition: all 0.5s ease-in-out;
    &:hover {
        background: $light-blue;
        color: $white;
        border: 0;
    }    
}

.button--cart {
    border: 0.05rem solid $yellow;
    color: $yellow;
    border-color: $yellow;
    &:hover {
        background: $yellow;
        color: $white;
        border: 0;
    } 
}
.button--detail {
    border: 0.05rem solid $light-blue;
    line-height: 1;
    color: $light-blue;
}