.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $s-size;

    @media (min-width: $desktop-breakpoint) { //size for big screen
        flex-direction: row;
        margin-bottom: $m-size;
    }
}

.input-group__item {
    margin-right: $s-size;
    
    @media (min-width: $desktop-breakpoint) { 
        margin: 0 $m-size 0 0;
    }
}