.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
}

.text-input--size{
    order: 1px solid #cacccd;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    width:60px;
    // padding: $s-size;
}

.text-input__extend {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;   
    width: 37rem;     
    border: 0px;      
    outline: none;
    border-bottom: 1px solid $dark-blue;          
    &:focus {
        border-bottom: 2px solid $blue;
    }
}

input:focus{
    box-shadow: 0px;
}

.select {
    @extend .text-input;
}


// .textarea {
//     @extend .text-input;
//     height: 10rem;
// }

.image-input {
    margin-top: $m-size;
}